<div class="add_dialog_wrapper">
  <div class="input_wrapper">
      <p>Title</p>
      <input [(ngModel)]="title" type="text" placeholder="Gib den title des Spiels ein">
  </div>
  <div class="input_wrapper">
      <p>Description</p>
      <textarea [(ngModel)]="description" cols="30" rows="10"></textarea>
  </div>

  <!-- Video-Element für die Kamera-Vorschau -->
  <div class="camera_wrapper">
      <video #videoElement width="320" height="240" autoplay></video>
      <button (click)="startCamera()">Activate Camera</button>
  </div>

  <div class="btn_wrapper">
      <button class="btn emptyBtn" (click)="closeDialog()">Cancel</button>
      <button class="btn fullBtn" (click)="addMyGame()">add note</button>
  </div>
  <div class="test"><h1>233
    
  </h1></div>
</div>
