*{
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

$head_bgc:rgb(23,23,22);
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
