.games-list {
    background-color: blue;
    height: calc(100% - 90px);
    max-width: 100%;
}
.page-from-games {
    width: 100%;
    margin: auto;
}
.game-card {
    max-width: 270px;
    height: 500px;
    background-color: white;
}

.game-img {
    width: 100%;
    height: 200px; 
    >img {
        width: 100%;
    }
}